body{
    background-image: url(imagens/wings.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   font-family: Cynosure Straight;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav li a{
    display: block;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-decoration: none;
}

nav li a:hover{
    color: white;
    background-color: #a34900;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo img{
    max-width: 400px;
    width: 100%;
    height: auto;
}

nav{
    border-bottom: 2px solid #4d2301 ;
}